<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/editProf.css">

<div class="container">
  <form action="/profiles/<%= profile._id %>?_method=PUT" method="POST">
    <div class="username">
      USERNAME: <input name="username" type="text" value="<%= profile.username %>">
    </div>
    <div class="actid">
      ACTIVISION ID: <input name="actid" type="text" value="<%= profile.actid %>">
    </div>
    <div class="bio">
      BIO:
      <br>
      <br>
      <textarea 
      type="text"
      name="bio" 
      style="resize: none;"
      autocomplete="off"
      ><%= profile.bio %></textarea>
    </div>
    <button class="btn" type="submit">UPDATE PROFILE</button>
  </form>
</div>

<%- include('../partials/footer') %>