<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<link rel="stylesheet" href="/stylesheets/profile-show.css">

<div class="container">
  <div class="username">
    <h1 class="nameText"><%= isSelf ? "YOUR PROFILE" : profile.username %></h1>
  </div>
  <div class="bio">
    BIO:
    <br>
    <div class="bioText"><%= profile.bio %></div>
  </div>
  <div class="actid">
    ACTIVISION ID: <div class="actidText"><%= profile.actid %></div>
  </div>
  <% if (isSelf) { %>
    <div class="editBtn"><a href="/profiles/<%= profile._id %>/edit">EDIT</a></div>
  <% } %>
</div>

<%- include('../partials/footer') %>