<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/newPost.css">

<div class="container">
  <form 
    action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=PUT"
    method="POST"
  >
    <div class="makeReply">
      REPLY: 
      <br>
      <br>
      <br>
      <textarea 
        style="resize: none;"
        type="text"
        name="content" 
        autocomplete="off"
      ><%= comment.content %></textarea>
    </div>
    <button class="btn" type="submit">UPDATE REPLY</button>
  </form>
</section>

<%- include('../partials/footer') %>