<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/newPost.css" />
<%- include('../partials/nav') %>

<div class="container">
  <form class="form" action="/posts/<%= post._id %>?_method=PUT" method="POST">
    <div class="postTitle">
      TITLE: <input type="text" name="title" autocomplete="off" value="<%= post.title %>">
    </div>
    <div class="rank">
      RANK:
      <select name="rank" value="<%= post.rank %>">
        <option value="BRONZE">BRONZE</option>
        <option value="SILVER">SILVER</option>
        <option value="GOLD">GOLD</option>
        <option value="PLATINUM">PLATINUM</option>
        <option value="DIAMOND">DIAMOND</option>
        <option value="CRIMSON">CRIMSON</option>
        <option value="IRIDESCENT">IRIDESCENT</option>
        <option value="TOP 250">TOP 250</option>
      </select>
    </div>
    <div class="gamertag">
      GAMERTAG: <input type="text" name="gamertag" value="<%= post.gamertag %>">
    </div>
    <div class="looking">
      LOOKING FOR:
      <select name="lookingFor" value="<%= post.lookingFor %>">
        <option value='1' >1</option>
        <option value='2' >2</option>
        <option value='3' >3</option>
      </select>
    </div>
    <div class="mic">
      HAVE MIC: <input type="checkbox" name="mic" id="mic-checkbox" <%= post.mic ? "checked" : "" %>>
    </div>
    <div class="moreInfo">
      ADDITIONAL COMMENTS: <input type="text" name="moreInfo" value="<%= post.moreInfo %>">
    </div>
    <div class="disc">BEFORE UPDATING PLEASE CONFIRM DATA SUCH AS RANKS AND NUMBER OF PLAYERS YOU ARE LOOKING FOR IS CORRECT</div>
      <button type="submit">EDIT POST</button>
  </form>
</div>

<%- include('../partials/footer') %>