<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('../partials/nav') %>

<div class="title">POSTS</div>
<div class="container">
  <div class="post">
    <% posts.forEach((post) => { %>
      <details>
        <summary class="summary">
          <div class="postTitle"><%= post.title %></div>
        </summary> 
        <div class="postShow">
          <div class="postUser"><%= post.player.username %></div>
          <div>CURRENTLY: <%= post.rank %></div>
          <div>NEEDS: <%= post.lookingFor %> PLAYERS</div>
          <% if (user) { %>
            <div>THEY <%= post.mic ? 'HAVE A MIC' : `DON'T HAVE A MIC` %></div>
            <div>ACTIVISION ID: "<%= post.gamertag %>"</div>
            <div>ADDITIONAL INFO: <%= post.moreInfo %></div>
          <a class="dets" href="/posts/<%= post._id %>">DETAILS</a>
          <% } %>
        </div>
      </details>
    <% }) %>
  </div>
</div>

<%- include('../partials/footer') %>