<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<section>
  <h1><%= post.title %></h1>
  <p>-Currently <%= post.rank %></p>
  <p>-Needs <%= post.lookingFor %> players</p>
  <p>-They <%= post.mic ? 'have a mic' : `don't have a mic` %></p>
  <p>-Their gamertag is "<%= post.gamertag %>" (player will post Activision ID # in extras)</p>
  <p>Extras: <%= post.moreInfo %></p>
  <% if (post.player.equals(user?.profile._id)) { %>
    <a href="/posts/<%= post._id %>/edit"><button>EDIT POST</button></a>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
      <button type="submit">DELETE POST</button>
    </form>
  <% } %>
  <h2>REPLIES</h2>
  <ul>
    <% post.comments?.forEach(comment => { %>
      <li>
        <%= comment.content %> - <%= comment.responder.name %>
        <% if (comment.responder.equals(user?.profile._id)) { %>
          <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button type="submit">DELETE REPLY</button>
          </form>
          <a href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit">
            <button>EDIT REPLY</button>
          </a>
        <% } %>
      </li>
    <% }) %>
  </ul>
  <% if (user) { %>
    <h3>Reply</h3>
    <form action="/posts/<%= post._id %>/comments" method="POST">
      <textarea name="content"></textarea><br>
      <button>ADD REPLY</button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>