<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<section>
  <h1><%= post.title %></h1>
  <p>-Currently <%= post.rank %></p>
  <p>-Needs <%= post.lookingFor %> players</p>
  <p>-They <%= post.mic ? 'have a mic' : `don't have a mic` %></p>
  <p>-Their gamertag is "<%= post.gamertag %>" (player will post Activision ID # in comments)</p>
  <p>Additional Comments: <%= post.moreInfo %></p>
</section>

<%- include('../partials/footer') %>