<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<section>
  <h1><%= post.title %></h1>
  <h2><%= post.player.username %> / <%= post.player.actid %></h2>
  <p>CURRENTLY: <%= post.rank %></p>
  <p>NEEDS: <%= post.lookingFor %> players</p>
  <p>THEY <%= post.mic ? 'HAVE A MIC' : `DON'T HAVE A MIC` %></p>
  <p>GAMERTAG: "<%= post.gamertag %>"</p>
  <p>EXTRAS: <%= post.moreInfo %></p>
  <% if (post.player.equals(user?.profile._id)) { %>
    <a href="/posts/<%= post._id %>/edit"><button>EDIT POST</button></a>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
      <button type="submit">DELETE POST</button>
    </form>
  <% } %>
  <h1>REPLIES</h1>
  <ul>
    <% post.comments?.forEach(comment => { %>
      <div class="comment">
        <%= comment.responder.username %> <br> <%= comment.content %> 
        <% if (comment.responder.equals(user?.profile._id)) { %>
          <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
          </form>
          <a href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit">
            <button>EDIT</button>
          </a>
        <% } %>
      </div>
      
    <% }) %>
  </ul>
  <% if (user) { %>
    <h3>REPLY</h3>
    <form action="/posts/<%= post._id %>/comments" method="POST">
      <textarea name="content"></textarea><br>
      <button>ADD REPLY</button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>